.custom_input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 16px;
  font-size: 16px;
}

.custom_input.area {
  padding-left: 10px;
  padding-right: 10px;
  resize: none;
}
