.nav_bar {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  height: fit-content;
}

.nav_barTitle {
  margin: 1em 2em;
}

.nav_barList {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 2em;
}

.nav_barOptions {
  margin: 0 1em;
}

.optionsText {
  text-decoration: none;
  transition-property: transform;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.51, 0.92, 0.24, 1.15);
  transform: translateY(100%);
}

@media (max-width: 768px) {
  .nav_barList {
    flex-direction: column;
    margin-top: 1rem;
  }
}
