.nav_bar {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  height: fit-content;
  position: absolute;
  z-index: 2;
}

.nav_barTitle {
  margin: 1em 2em;
}

.nav_barList {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 2em;
}

.nav_barOptions {
  margin: 0 1em;
}

.optionsText {
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav_barList {
    flex-direction: column;
    margin-top: 1rem;
  }
}

.revealText {
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 1.5em;
}

.revealText::before,
.revealText::after {
  content: attr(data-text);
  display: block;
}

.revealText::before {
  transform: translateY(0%);
}

.revealText::after {
  transform: translateY(100%);
  position: absolute;
  top: 0;
  left: 0;
}

.revealText:hover::before {
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

.revealText:hover::after {
  transform: translateY(0%);
  transition: transform 0.3s ease;
}
